body {
  background-image: url('./dna.jpg');
  background-size: cover;
}

.cell {
  box-sizing: border-box;
  border: 2px solid grey;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.grid {
  line-height: 0;
  width:150px;
  margin-top: 25px;
  margin: auto;
}

.off {
  background-color: white;
}

.on {
  background-color: black;
}

.cell:hover { 
  background: #05d85d;
}

.centered {
  margin: auto;
  margin-bottom: 10px;
}