body {
  background-image: url('https://www.toledoblade.com/image/2020/03/12/1140x_a10-7_cTC/dna-3539309-1920-jpg.jpg');
  background-size: cover;
}

.cell {
  box-sizing: border-box;
  border: 2px solid grey;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.grid {
  line-height: 0;
  width:150px;
  margin-top: 25px;
  margin: auto;
}

.off {
  background-color: white;
}

.on {
  background-color: black;
}

.cell:hover { 
  background: #05d85d;
}

.centered {
  margin: auto;
  margin-bottom: 10px;
}